.ronnie {
    grid-area: ronnie;
}
.emily{
    grid-area: emily;
}
.lisa{
    grid-area: lisa;
}
.connor{
    grid-area: connor;
}
.ryan{
    grid-area: ryan;
}
.sudan{
    grid-area: sudan;
}
.shirley{
    grid-area: shirley;
}
.rishabh{
    grid-area: rishabh;
}
.imgGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "ronnie emily"
        "lisa connor"
        "ryan shirley"
        "sudan rishabh";
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

h2.nameText span{
    position: relative;
    font-size: 1.5em;
    top: 55%;
    left: 0px;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.7);
    width: 100%;
    line-height: 1.2em;
}


