body{
    margin: auto;
}
.gridWrap {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 0px;
    border: 0px;
    width: 100vw;
    height: 100vh;
}

@font-face {
    font-family: 'CheeseFont';
    src: url('Styles/Fonts/JI\ Swiss\ Cheese.ttf') format('truetype');
}

.banner {
    grid-column: 1/5;
    grid-row: 1/4;
    background-image: url("Images/cheeseBackground.jpg");
}

.banner header {
    font-family: 'CheeseFont', Fallback, snas-serif;
    font-size: 35px;
    font-size: 10vw;
    text-align: center;
}

.main {
    grid-column: 1/5;
    grid-row: 2/6;
    background-color: blue;
}

.navBar a:link {
    text-decoration: none;
}
.navBar a:visited {
    text-decoration: none;
}
.navBar a:hover {
    text-decoration: none;
}
.navBar a:active {
    text-decoration: none;
}
.navBar{
    font-family: 'CheeseFont', Fallback, snas-serif;
    font-weight: bold;
    font-size: 10px;
    font-size: 3vw;
    text-align: center;
}